Progetto/Progetto.sln
Progetto/obj/project.nuget.cache
Progetto/obj/project.assets.json
Progetto/obj/Progetto.csproj.nuget.g.props
Progetto/obj/Progetto.csproj.nuget.dgspec.json
Progetto/obj/Debug/net10.0/Progetto.GeneratedMSBuildEditorConfig.editorconfig
Progetto/obj/Debug/net10.0/Progetto.assets.cache
Progetto/obj/Debug/net10.0/Progetto.AssemblyInfoInputs.cache
Progetto/obj/Debug/net10.0/Progetto.AssemblyInfo.cs
